@model ServiceStation.ViewModels.ClientsIndex

@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-3 col-md-offset-4" style="padding-right: 0px">
            @Html.EditorFor(model => model.Filter, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-1">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}

<div id="ClientsList">
    @Html.Partial("_ClientsList", Model.Clients)
</div>
